      footer {
         position:relative;
         background: black;
         margin: 0;
         padding: 0;
         top:140rem;
         height:auto;
         color: white;
         width: 100%;
         background:latte;

      }
      .footer-body{
      	margin-bottom: 40px;
      }
      .footer-body:after{
         content:"";
         display:block;
         clear: both;
      }
      .footer-body > div{
      		color:white;
      		float: left;
      		padding:20px;
      }
      .footer-body > div:first-child{
      	font-size: 150%;
      	width: 35%;
      	text-align: center;
      }
      .footer-body > div:last-child{
      	width: 50%;
      }
      .footer-body ul {
      	list-style-type: none;
      	margin:0px; 
      	padding:0px;
      	text-align:center;
      }
      .footer-body li > a{
      	color:white;
      	text-decoration: none;
      	margin-bottom: 7px;
      }
      .logo > img{
         max-width: 100px;
         margin-left: -10rem;
         height: auto;
      }
      .linksocial{
         text-decoration: none;
         color: rgb(187, 198, 207);
         line-height: 2rem;
      }