* {
         box-sizing: border-box;
      }
      /* setting the margin, padding to 0 to allow the webpage in full screen  */
      html {
         height: auto;
         margin:0;
         padding:0;
         -ms-text-size-adjust:100%;
         -webkit-text-size-adjust:100%;
         font-family: 'Roboto', sans-serif;
      }
      /* setting margin, paddding to 0 to place footer in bottom  */
      body { 

         height: auto;
         margin:0;
         padding:0;
         margin: 0; 
      }

      /* style components */
      article {
         max-width:100%;
      }  
      article {
         height: auto;
         background: #e6e6e6;
      }
      /*  styling the main page */
      .bg{
         display:flex;
         background: black; 

      }
      .bg > img{
         height:auto;
         width:100%;
         filter: grayscale(100%);
         opacity: 40%;
      }
      main {
         display: flex; 
      }
      /*  styling the navigation bar (logo, links , input) */
      header{
         background:#24262b;
         display: flex;
         height:70px;
         padding-left: 2rem;
         color:whitesmoke;
         justify-content: center;
         align-items: center;
      }
      .logo{
         margin-left: 1.6rem;
         width: 12rem;
         height: 170px;
         margin-right: 28rem;
      }
      nav{
         width:100%;
         display: flex;
         float: right;
         justify-content:center;
         align-items: center;
      }
      nav > a{
         scroll-behavior: smooth;
         font-size: 15px;
         margin-right:3rem;
         text-decoration: none;
         color:whitesmoke;
         font-family: 'Roboto', sans-serif;
         font-weight: bold;
         transition-duration: 0.5s;
      }
      nav > a:hover{
         color: goldenrod;
      }
      nav > input{
         width: 12rem;
         padding: 10px;
         height: 25px;
         border-radius: 30px;
         border: none;
      }
      /*  styling the text, button,  in the main page */
      .main-information{
         margin:6rem;   
         position:absolute;
         top:2rem;

      }
      .main-information > h1{
         color:white;
         font-size:3rem;
      }
      .main-information > p{
         font-family: 'Roboto', sans-serif;
         font-size: 15px;
         text-align: justify;
         color: ghostwhite; 
      }
      #signin{
         text-decoration: none;
         font-family: 'Poppins', sans-serif;
         background:none;
         outline: none;
         border:none;
         margin-right:4rem;
         margin-left: 1rem;
         color:white;
         font-size:1.3rem;
         transition-duration: 0.5;
      }
      #signin:hover{
         cursor: pointer;
         color: goldenrod;
      }
      #donate{
         font-family: 'Poppins', sans-serif;
         border-radius: 10px;
         background:orange;
         border:none;
         width:10rem;
         height:45px;
      }
      .btn {
         width: 10em;
         height: 3em;
         margin: 0.5em;
         background: darkorange;
         color: black;
         border: none;
         border-radius: 5px;
         font-size: 1rem;
         cursor: pointer;
         position: relative;
         z-index: 1;
         overflow: hidden;
      }     
      .btn:after {
         content: "";
         background: #FCAE1E;
         position: absolute;
         z-index: -1;
         left: -20%;
         right: -20%;
         top: 0;
         bottom: 0;
         transform: skewX(-45deg) scale(0, 1);
         transition: all 0.5s;
      }

      .btn:hover:after {
         transform: skewX(-45deg) scale(1, 1);
         -webkit-transition: all 0.5s;
         transition: all 0.5s;
      }
      .donate{
         text-decoration: none;
         color: black;
      }
      /* this is the page on scroll styles (our work, stories and add what you can do)  */
      #sub-information{
         width:100%;
         height:130vh;
         background:white;
         position:absolute;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
      .h1-for-subinfo{
         margin-top: 4rem;
         font-size: 2rem ;
      }
      #card{
         padding-top: 1rem;
         padding-bottom: 4rem;
         max-width: 100%;
         height:auto;
         display:flex;
         background:e6e6e6;
         justify-content: space-between;
         align-content: center;
      }
      .card1{
         width:30%;
         height: auto;
         background:whitesmoke;
         margin-right:2rem;
         margin-left: 4rem;
         box-shadow: 0 0px 1px rgba(0, 0, 0, 0.30), 0 1px 2px rgba(0, 0, 0, 0.22);
         transition-duration: 0.5s;
      }
      .card1:hover{
         box-shadow: 0 8px 15px rgba(0, 0, 0, 0.30), 0 2px 4px rgba(0, 0, 0, 0.22);
      }
      .card1 > img{
         width:100%;
         height: auto;
         box-shadow:0px 2px #EC9706;
      }
      .card2{
         width:30%;
         height: auto;
         background:whitesmoke;
         margin-right:2rem;
         box-shadow: 0 0px 1px rgba(0, 0, 0, 0.30), 0 1px 2px rgba(0, 0, 0, 0.22);
         transition-duration: 0.5s;
      }
      .card2 > img{
         width:100%;
         height: auto;
         box-shadow:0px 2px #EC9706;
      }
      .card2:hover{
         box-shadow: 0 8px 15px rgba(0, 0, 0, 0.30), 0 2px 4px rgba(0, 0, 0, 0.22);
      }
      .card3{
         width:30%;
         height: auto;
         background:whitesmoke;
         margin-right:4rem;
         box-shadow: 0 0px 1px rgba(0, 0, 0, 0.30), 0 1px 2px rgba(0, 0, 0, 0.22);
         transition-duration: 0.5s;
      }
      .card3 > img{
         width:100%;
         height: auto;
         box-shadow:0px 2px #EC9706;
      }
      .card3:hover{
         box-shadow: 0 8px 15px rgba(0, 0, 0, 0.30), 0 2px 4px rgba(0, 0, 0, 0.22);
      }
      .card1 > p{
         float:left; 
         text-align: justify; 
         margin: 1rem;
      }
      .card2 > p{
         float:left; 
         text-align: justify; 
         margin: 1rem;
      }
      .card3 > p{
         float:left; 
         text-align: justify; 
         margin: 1rem;
      }
      #sub-information1{
         margin-top: auto;
         width:100%;
         height:auto;
         background:#e6e6e6;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
      .cardv2{
         padding-top: 1rem;
         padding-bottom: 4rem;
         max-width: 100%;
         height:auto;
         display:flex;
         background:#e6e6e6;
         justify-content: space-between;
         align-content: center;
      }




