/*media query for mobile*/
@media screen and (max-width: 575px) {
      main {
         display: flex;
      }
      .bg > img{
         max-width:100px;
         height:auto;
         opacity:30%;
      }
      header{
         height:8vh;
      }
      header > h2{
         font-size:1.3rem;
         width:100%;
         position: ab;
         top:0.2rem;
      }
      .logo{
         padding-bottom:10px;
      }
      nav > a{
         font-size:2px;
      }
      article{
         height:430vh;
      }
      .sub-information{
         display: flex;
         flex-wrap: wrap;
      }







      }